<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') -%>
  </head>
  <body>
    <div class="container my-5">
      <h1 class="text-center">Profile</h1>
      <form
        class="form-group justify-content-center row px-3"
        action="/profile/create"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="col-md-4 inputGroupContainer">
          <label class="col-md-4 control-label">First Name</label>
          <div class="input-group mb-4">
            <span class="input-group-text" id="inputGroup-sizing-default"
              ><i class="fa-solid fa-user"></i
            ></span>
            <input
              type="text"
              name="firstName"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default"
            />
          </div>

          <label class="col-md-4 control-label">Last Name</label>
          <div class="input-group mb-4">
            <span class="input-group-text" id="inputGroup-sizing-default"
              ><i class="fa-solid fa-user"></i
            ></span>
            <input
              type="text"
              name="lastName"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default"
            />
          </div>

          <label class="col-md-4 control-label">Email</label>
          <div class="input-group mb-4">
            <span class="input-group-text" id="inputGroup-sizing-default"
              ><i class="fa-solid fa-envelope"></i
            ></span>
            <input
              type="email"
              name="email"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-lg"
            />
          </div>

          <label class="col-md-4 control-label">Phone</label>
          <div class="input-group mb-4">
            <span class="input-group-text" id="inputGroup-sizing-default"
              ><i class="fa-solid fa-phone"></i
            ></span>
            <input
              type="tel"
              name="phone"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-lg"
            />
          </div>

          <label class="col-md-4 control-label">Location</label>
          <div class="input-group mb-4">
            <span class="input-group-text" id="inputGroup-sizing-default"
              ><i class="fa-solid fa-location-dot"></i
            ></span>
            <input
              type="text"
              name="location"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-lg"
            />
          </div>

          <div class="mb-5">
            <label for="formFile" class="form-label">Profile Image</label>
            <input class="form-control" type="file" id="formFile" name="uploaded_file" />
          </div>

          <label class="col-md-4 control-label mb-3">Specializations</label>

          <div class="specializations-box mb-4 d-flex justify-content-between">
            <div class="specialization-inner">
              <div class="form-check mb-3">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="events"
                  id="flexCheckDefault"
                  name="specialization"
                />
                <label class="form-check-label" for="flexCheckDefault"> Events </label>
              </div>

              <div class="form-check mb-3">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="portraits"
                  id="flexCheckDefault"
                  name="specialization"
                />
                <label class="form-check-label" for="flexCheckDefault"> Portraits </label>
              </div>

              <div class="form-check mb-3">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="sports"
                  id="flexCheckDefault"
                  name="specialization"
                />
                <label class="form-check-label" for="flexCheckDefault"> Sports </label>
              </div>

              <div class="form-check mb-3">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="weddings"
                  id="flexCheckDefault"
                  name="specialization"
                />
                <label class="form-check-label" for="flexCheckDefault"> Weddings </label>
              </div>

              <div class="form-check mb-3">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="fashion"
                  id="flexCheckDefault"
                  name="specialization"
                />
                <label class="form-check-label" for="flexCheckDefault"> Fashion </label>
              </div>

              <div class="form-check mb-3">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="food"
                  id="flexCheckDefault"
                  name="specialization"
                />
                <label class="form-check-label" for="flexCheckDefault"> Food </label>
              </div>
            </div>

            <div class="specialization-inner">
              <div class="form-check mb-3">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="wildlife"
                  id="flexCheckDefault"
                  name="specialization"
                />
                <label class="form-check-label" for="flexCheckDefault"> Wildlife </label>
              </div>

              <div class="form-check mb-3">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="nature"
                  id="flexCheckDefault"
                  name="specialization"
                />
                <label class="form-check-label" for="flexCheckDefault"> Nature </label>
              </div>

              <div class="form-check mb-3">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="architecture"
                  id="flexCheckDefault"
                  name="specialization"
                />
                <label class="form-check-label" for="flexCheckDefault"> Architecture </label>
              </div>

              <div class="form-check mb-3">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="product"
                  id="flexCheckDefault"
                  name="specialization"
                />
                <label class="form-check-label" for="flexCheckDefault"> Product </label>
              </div>

              <div class="form-check mb-3">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="travel"
                  id="flexCheckDefault"
                  name="specialization"
                />
                <label class="form-check-label" for="flexCheckDefault"> Travel </label>
              </div>

              <div class="form-check mb-3">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="fine-art"
                  id="flexCheckDefault"
                  name="specialization"
                />
                <label class="form-check-label" for="flexCheckDefault"> Fine Art </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label">Tell us about yourself</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                <textarea class="form-control" name="about"></textarea>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-success mt-4">Submit</button>
        </div>
      </form>
    </div>

    <%- include('partials/footer') -%>
  </body>
</html>
